fastapi
uvicorn
openai
langchain
langchain-openai
langchain-core
langchain-pinecone
langchain-community
python-multipart
dotenv
pypdf
unstructured[docx]
numexpr
google-cloud-vision
requests
beautifulsoup4
lxml
langchain-redis
redis
cohere
langgraph
tiktoken
langsmith